<p id="notice"><%= notice %></p>

<p>
  <strong>Ancestry:</strong>
  <%= @content.ancestry %>
</p>

<p>
  <strong>Type:</strong>
  <%= @content.type %>
</p>

<p>
  <strong>Text:</strong>
  <%= @content.text %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @content.condition %>
</p>

<p>
  <strong>Tool1:</strong>
  <%= @content.tool1 %>
</p>

<p>
  <strong>Skill1:</strong>
  <%= @content.skill1 %>
</p>

<p>
  <strong>Equality1:</strong>
  <%= @content.equality1 %>
</p>

<p>
  <strong>Andor:</strong>
  <%= @content.andor %>
</p>

<p>
  <strong>Tool2:</strong>
  <%= @content.tool2 %>
</p>

<p>
  <strong>Skill2:</strong>
  <%= @content.skill2 %>
</p>

<p>
  <strong>Equality2:</strong>
  <%= @content.equality2 %>
</p>

<p>
  <strong>Event:</strong>
  <%= @content.event_id %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
