<% if notice %>
	<p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
	<p class="alert alert-error"><%= alert %></p>
<% end %>

<%= link_to 'New Event', events_path, :method => :post %>
<% if current_user.admin %>
	<%= link_to 'Parameter_types', parameter_types_path %>
	<%= link_to 'Tools', tools_path %>
	<%= link_to 'Filters', filters_path %>
	<%= link_to 'Users', users_path %>
<% end %>
<%= link_to 'Download', download_events_path %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

<h1>Event map</h1>

<div id="treeviz"></div>

<%= link_to 'New Event', events_path, :method => :post %>
<% if current_user.admin %>
	<%= link_to 'Parameter_types', parameter_types_path %>
	<%= link_to 'Tools', tools_path %>
	<%= link_to 'Filters', filters_path %>
	<%= link_to 'Users', users_path %>
<% end %>
<%= link_to 'Download', download_events_path %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

<%- content_for(:js) do -%>
	<%= javascript_include_tag :treeviz -%>
<%- end -%>