<%= form_for(@parameter) do |f| %>
  <% if @parameter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parameter.errors.count, "error") %> prohibited this parameter from being saved:</h2>

      <ul>
      <% @parameter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tool_id %><br>
    <%= f.number_field :tool_id %>
  </div>
  <div class="field">
    <%= f.label :parameter_type_id %><br>
    <%= f.number_field :parameter_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
